.rps-bg {
    background-color: #223a5f;
  }
  .rps-left-arrow {
    margin-left: 20px;
    padding-top: 30px;
    height: 50px;
    width: 50px;
    color: #ffffff;
  }
  .rps-rules-heading {
    color: #ffffff;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 500;
  }
  rps-back-align {
    display: flex;
    flex-direction: row;
  }
  @media screen and (max-width: 540px) {
    .align {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .rps-heading {
    color: #ffffff;
    font-family: 'Bree Serif';
    font-size: 40px;
    font-weight: 500px;
    text-align: center;
  }
  .rps-back {
    color: #ffffff;
    font-size: 20px;
    margin-top: 28px;
  }
  .rps-back-button {
    background-color: transparent;
    border: none;
  }
  .rps-back-text {
    text-decoration: none;
  }
  .rps-center {
    text-align: center;
  }
  .rps-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
  }
  @media screen and (max-width: 540px) {
    .rps-align {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .rps-para {
    color: #ffffff;
    font-size: 19px;
    margin-top: 20px;
  }
  .rps-span {
    color: yellow;
    font-size: 20px;
    margin-top: 20px;
  }
  .rps-button {
    background-color: #ffffff;
    color: #223a5f;
    height: 50px;
    width: 100px;
    margin-left: 30px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    margin-bottom: 30px;
    
  }
  